<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    script(src="js/all.js")
body
     p bennyipsum 111dolor sit eeeamet, conwefwefwectetur adipisicing elit. Voluptates laboriosam placeat sunt ea enim! Incidunt porro quas iusto adipisci voluptates vero perferendis, nostrum cupiditate earum fuga delectus consequuntur magni quam.
    